<div class="container-fluid">
  <h1>Vote for quotes</h1>
    <form (ngSubmit)="submitQuote()">
  
      <br>
  
       <div class="form-group">
       <strong>Name:</strong>
       <input type="text"  class="form-control" id="input" [(ngModel)]="publisher" placeholder="Enter publisher Name">
      </div>
  
      <div class="form-group">
          <strong>Quotes:</strong>
          <input type="text" class="form-control" id="input" [(ngModel)]="quote" placeholder="Enter your quote">
      </div>
  
      <div class="form-group">
         <strong>Author:</strong>
          <input type="text"  class="form-control" id="input"  [(ngModel)]="author" placeholder="Enter your name">
      </div>
  
      <button type="submit">Post Quote</button>
    </form>
  </div>