<div class="container-fluid">
  <h1>Vote for Inspiring quotes</h1>
    <form (ngSubmit)="submitQuote()">
  
      <br>
  
       <div class="form-group">
       <strong>Name:</strong>
       <input type="text"  name="publisher" class="form-control" [(ngModel)]="publisher" placeholder="Enter your name">
      </div>
  
      <div class="form-group">
          <strong>Quotes:</strong>
          <input type="text" name="quote" class="form-control"  [(ngModel)]="quote" placeholder="Enter your Quote">
      </div>
  
      <div class="form-group">
          <strong>Author:</strong>
          <input type="text" name="author" class="form-control"   [(ngModel)]="Author" placeholder="Enter Author">
      </div>
  
      <button type="submit" class="btn btn-success">Post Quote</button>
    </form>
  </div>